.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sidebar button {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 15px;
    color: #000;
    display: block;
    transition: 0.3s;
    /* right: 0; */
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
    /* margin-left: 50px; */
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #eee;
    color: black;
    padding: 5px 10px;
    border: none;
    left: 1200px;
  }
  
  .openbtn:hover {
    background-color: #ddd;
  }
  
  .parent{
    display: flex;
    margin-left : 5px;
    margin-right : 5px;
  }
  
  div{
    float: none;
  }
  #outputscreen{
    flex-shrink: 0;
  }

  #infotitle{
    background-color: #415151;
    width: 250px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
  }
  #desc{
    background-color: #415151;
    width: auto;
    height: min-content;
    margin-top:50px;
  }

  .Complexity{
    background-color: #415151;
    width: auto;
    height: min-content;
    margin-top:50px;
  }
  #timespent{
    background-color: #415151;
    width: auto;
    height: min-content;
    margin-top:50px;
  }
  .tcolor{
    color: #fff;
  }
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    margin-left: 1422px;
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 0px;
  }

  
  body{
    background-color: #818181;
  }
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }